.submit {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
}

.blog-div{
  margin-left: 4em;
  maring-right: 4em;
}

.blog-div h2 {
  text-align: center;
  margin-bottom: 1em;
}

.skillsGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10em;
  grid-auto-rows: auto;
  height: 100vh;
}

.skills{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skillsGrid img {
  height: 100px;
  width: 100px;
}

.skills h2{
  margin-bottom: 2em;
}



.blog-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 30px;
  grid-auto-rows: auto;
  height: 100vh;
  overflow: hidden;
}

.blogPost{
  grid-column: 1/3;
}

.blogPost img{
  max-height: 300px;
  max-width: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}